<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/icons/favicon-16x16.png">
    <link rel="manifest" href="../assets/icons/site.webmanifest">
    <title>Polar Bear | Home</title>
</head>

<body>
    <!-- NAVIGATION -->
    <nav class="navbar">
        <img class="logo" src="../assets/img/logo.png" alt="logo">
        <ul class="navbar-nav">
            <li class="link-item">
                <i class="fas fa-home is-active"></i>
            </li>
            <li class="link-item info">
                <i class="fas fa-info-circle"></i>
            </li>
            <li class="link-item">
                <i class="fas fa-envelope"></i>
            </li>
            <li class="link-item">
                <i class="fas fa-user"></i>
            </li>
        </ul>
        <button class="cta">Say Hello</button>
    </nav>
    <!-- HERO SECTION -->
    <section class="hero">
        <img src="../assets/img/img1.png" alt="" class="img">
        <div class="hero-conent">
            <h2>Hi, I'm a <span>Polar Bear</span></h2>
            <p>
                I bring a balanced approach that combines efficiency, compliance, and teamwork. If you're looking for someone who can deliver results while fostering a positive and communicative environment, I'm your person.
                Timely Delivery: I prioritize deadlines and work systematically to meet or exceed them. My planning and organizational skills ensure projects move forward without delays.
                Compliance-Oriented: I have a thorough understanding of industry regulations and guidelines, ensuring all work is compliant and audit-ready.
                Strong Communication: I value open and effective communication. Whether it's team meetings, stakeholder updates, or client interactions, I keep everyone informed and engaged.
            </p>
        </div>
    </section>
    <hr>
    <!-- INFO / PROJECTS / BLOG SECTION -->
    <section class="about" id="info">
        <div class="container">
            <div class="box">
                <img class="box-img" src="../assets/img/img2.png" alt="">
                <h3 class="box-heading">Projects</h3>
                <ul class="project-list">
                    <li>Back-End(<span>Node.js, Express, SQL Server, Ngrok, LocalX..</span>)</li>
                    <li>Front-End(<span>Development & Design..</span>)</li>
                    <li>Android(<span>Cordova, AndroidJs..</span>)</li>
                    <li><a href="#"><i class="fas fa-diagram-project expand-projects"></i></a></li>
                </ul>
            </div>
            <div class="box">
                <img class="box-img" src="../assets/img/img4.png" alt="">
                <h3 class="box-heading">Blog</h3>
                <p class="blog-text">
                    Shared Ideas and Learned Concepts...
                </p>
                <li class="blog-link"><a href="#"><i class="fas fa-lightbulb expand-blog"></i></a></li>
            </div>
            <div class="box">
                <img class="box-img" src="../assets/img/img3.png" alt="">
                <h3 class="box-heading">Others</h3>
                <ul class="others-list">
                    <li>Music Composition</li>
                    <li>Anime</li>
                    <li>CTF</li>
                </ul>
            </div>
        </div>
    </section>

    <script src="../assets/fontawesome/js/all.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>
